:root {
    --global-radius: 3px;
    --global-rounded: 40px;
    --global-circle: 100%;
    --global-shadow: rgba(0, 0, 0, 0.1);
    --global-padding: 20px;
    --global-margin: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "flex";
@import "position";
@import "spacing";
@import "progress";
@import "animations";

body,
html,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

textarea {
    height: 100%;
    width: 100%;
    font-size: 1em;
    padding: 2em 2em 8em;
    box-shadow: none;
    outline: none;
    border: none;
}

.composer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #dcdcdc;
    text-align: center;
    background: white;
}

.presenter {
    background-size: cover !important;
    background-position: center !important;
}
